@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-Black.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/Lato-Black.woff2') format('woff2'),
		url('../fonts/lato/Lato-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/Lato-Regular.woff2') format('woff2'),
		url('../fonts/lato/Lato-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/Lato-Bold.woff2') format('woff2'),
		url('../fonts/lato/Lato-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
